@page
@model Bookstore.Pages.ConfirmationCheckoutModel
@{
}

<div class="text-center">
    <h2>Thank you so much for shopping today. Your books should arrive in 7-10 buisness days.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>